.disabled {
    opacity: .3
}

ul.comparison-list-l {
    list-style: none;
}

.g-tags {
    position: absolute;
    display: block;
    line-height: normal;
    top: 0;
    left: 0;
    z-index: 1
}
.g-tags-i {
    margin-bottom: 5px;
    text-align: left
}
.g-title {
    position: relative;
    display: block;
    max-height: 35px;
    font-size: 1.0769230769em;
    line-height: 1.2142857143em;
    margin-bottom: .5714285714em;
    word-break: break-word;
    overflow: hidden
}

.g-title:before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 28px;
    height: 8px;
    background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),color-stop(100%,#fff),color-stop(10%,#fff),to(#fff));
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 100%,#fff 0,#fff)
}
.g-price {
    display: inline-block;
    padding: 2px;
    margin-bottom: .5384615385em;
    background: #fff3b5;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 75px;
}

.checkbox {
    display: inline-block
}

.checkbox-label-active:before,.checkbox-label-disabled:before,.checkbox-label:before {
    content: "";
    position: absolute;
    background: #fff;
    border: 2px solid rgba(34,31,31,.1);
    width: 22px;
    height: 22px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    margin-top: -10px
}

.checkbox-label-active:active,.checkbox-label-disabled:active,.checkbox-label:active {
    color: #9cf
}

.checkbox-label-active:active .check-icon,.checkbox-label-disabled:active .check-icon,.checkbox-label:active .check-icon {
    opacity: 1
}

.checkbox-label-active:active:before,.checkbox-label-disabled:active:before,.checkbox-label:active:before {
    opacity: .5
}

.checkbox-label-active:before {
    background: #00a046;
    border-color: #00a046
}
.checkbox-label-active .check-icon {
    position: absolute;
    width: 21px;
    height: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1px
}
button,input,select,textarea {
    color: #333;
    display: inline-block;
    font-family: Helvetica Neue Light,Arial,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

:focus,a:active,a:focus,input,input:active,textarea,textarea:active {
    outline: none
}

.body-layout {
    margin-top: -10px
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.pos-fix {
    position: relative
}

.responsive-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto
}
.gz.btn-link {
    position: relative;
    display: inline-block;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-radius: 4px !important;
    vertical-align: middle;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
}
.gz.btn-link-blue {
    background: #3e77aa !important;
    border: 1px solid #3e77aa !important;
}
.gz.btn-link,.gz.btn-link:hover,.gz.btn-link, .gz.btn-link:link, .gz.btn-link:visited {
    color: #fff;
}
.gz.btn-link-gray:link, .gz.btn-link-gray:visited {
    color: #3e77aa;
}
.gz.popup-info-tools-btn, .gz.popup-info-tools-btn-cancel {
    min-width: 115px;
    max-width: 300px;
    padding: 10px;
    font-size: 1.184615em;
}
.gz.popup-info-tools-btn {
    margin-right: 18px;
}
.popup-info-text {
    font-size: 1.076923em;
    padding-bottom: 15px;
}
.btn-link.disabled {
    opacity: .3
}

.svg-icon {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.svg-white {
    fill: #fff
}

.svg-green {
    fill: #00a046
}
.bonus-icon,.cart-full-icon,.cart-icon,.catalog-btn-icon,.comparison-full-icon,.comparison-icon,.date-icon,.decstop-icon,.flash-bonus-icon,.flow-full-icon,.flow-icon,.home-icon,.menu-icon,.orders-icon,.orders.icon,.price-change-full-icon,.price-change-icon,.promos-icon,.promotions-icon,.recent-offers-icon,.search-icon,.share-icon,.time-icon,.user-icon,.video-icon,.waitlist-icon,.wishlists-full-icon,.wishlists-icon {
    width: 24px;
    height: 24px
}
.check-icon {
    width: 31px;
    height: 24px
}
.more-icon {
    width: 36px;
    height: 9px
}
.add-photo-icon,.add-video-icon,.comment-new-icon,.copy-icon,.decstop-icon,.info-icon,.more-icon,.plus-icon,.rating-none-icon,.reply-icon {
    fill: #3388c4
}
.comparison-list-content {
    margin-bottom: 10px
}

.comparison-list-header {
    margin-bottom: 14px
}

.comparison-list-header-title {
    font-size: 1.9em;
    margin: 6px
}

.comparison-list-header-description {
    color: #666;
    font-size: .95em;
    padding-left: 6px
}

.comparison-list-l {
    padding-left: 7px
}

.comparison-list-l-i {
    padding: 6px 7px 0 0;
    border-bottom: 1px solid #eaeaea
}

.comparison-list-l .g-tools-i {
    margin-right: 15px
}

.comparison-list-l .g-picture {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 57px
}

.comparison-list-l .g-info-b {
    margin: 0 5px 18px 68px
}

.comparison-list-sect:before {
    content: "";
    display: block;
    height: 30px;
    margin-bottom: 11px;
    background-color: #eaeaea
}

.comparison-list-sect-main-btn {
    float: left;
    padding: 5px 13px 6px;
    font-size: 1.6em
}

.comparison-list-sect-clear-link {
    float: right;
    margin-top: 3px;
    font-size: 1.1em
}

.comparison-list-sect-clear-link:link,.comparison-list-sect-clear-link:visited {
    color: #cf2429
}

.comparison-list-sect-add-link {
    float: right;
    position: relative;
    vertical-align: middle;
    font-size: 1.2em;
    margin-top: 10px
}

.comparison-list-sect-add-link:before {
    content: "+";
    position: absolute;
    top: -2px;
    left: -13px
}

.comparison-list-sect-header {
    margin: 0 5px
}

.comparison-list-sect-header-title {
    float: left;
    width: 75%;
    letter-spacing: -.015em;
    margin-top: 0!important;
    margin-bottom: 10px;

}
.comparison-list-sect-header-count {
    color: #999;
    font-size: .8em;
    padding: 3px 8px
}

.comparison-list-sect-footer {
    padding: 15px 6px
}

.comparison-list-offer {
    margin-left: 30px
}
.comparison-list-checkbox {
    float: left ;
    position: relative;
}
.touch {
    position: relative
}

.touch:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(5,51,126,.03);
    z-index: 3
}
.g-info-b-i .g-list-i-b-tools,.g-info-b-i .g-price-wrap {
    display: inline-block;
    vertical-align: bottom
}

.g-info-b-i .g-tools {
    display: inline-block;
    margin-bottom: 0
}

.g-info-b-i .g-price-wrap {
    margin-right: 10px
}
.g-info-b-i .g-price {
    padding: 5px;
    margin-bottom: 0
}

.g-info-b .remove-i {
    display: inline-block;
    vertical-align: middle
}
.checkbox-label-disabled:before {
    background: #eaeaea; 
    border-color: #eaeaea;
}
.comparison-list-sect:before {
    content: "" !important;
    display: block !important;
    height: 30px;
    margin-bottom: 11px;
    background-color: #eaeaea;
}
h2.comparison-list-sect-header-title span {
    font-size: 18px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0!important;
}
.comparison-list-empty-b.hidden{
    display: none;
}