.sprite, .sprite-both, .sprite-side {
    position: relative;
}
.sprite-side .sprite, .sprite-both:after, .sprite-side .sprite-both:before, .sprite-side .sprite-side:before {
    background-image: url(https://i.rozetka.ua/h.13e123/sprite.svg)!important;
    background-repeat: no-repeat;
}
.sprite-both:after, .sprite-both:before, .sprite-side:before {
    content: '';
    position: absolute;
}
.g-tools-to-compare-check {
    display: none;
}
.g-tools-to-compare-check {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1px;
    left: 0;
    width: 13px;
    height: 13px;
}
.g-compare {
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    outline: 0;
    height: 100%;
    display: block;
    float: left;
    z-index: 1;
}
.g-compare:hover {
    border-color: #fd9fa5;
    border-radius: 0px 0px 0px 30px;
}

.g-compare-added:before {
    background-position: -898px -787px;
    width: 20px;
    height: 20px;
    top: -4px;
    right: -3px;
    /* z-index: 71; */
}

.g-compare-icon {
    background-position: -858px -446px;
    width: 32px;
    height: 25px;
}
.g-compare-added .g-compare-icon {
    background-position: -860px -471px;
    width: 29px;
    height: 22px;
}
.comparisons {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
    background: #168c03;
    background: #fff;
    border-radius: 0px 0px 0px 30px;
}

label.g-tools-to-compare-label {
    height: 100%;
    display: block;
    width: 100%;
    float: left;
    margin: 0;
}

.comparisons.product-blc .btn-comparisons {
    float: left;
}